In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:

# Drop the non-beneficial ID columns, 'EIN'.

application_df = application_df.drop(columns = ['EIN'])

In [20]:

# Determining the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [21]:
# Look at NAMES value counts for binning
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [22]:
# list of names to be replaced
names_replace = list(name_count[name_count<10].index)

for app in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
classification_binning = application_df['CLASSIFICATION'].value_counts()
classification_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:

#classification_count = classification_binning[classification_binning>1]
#classification_count

In [25]:
# Convert categorical data to numeric
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [26]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('STATUS', axis=1).values
y = application_df['STATUS'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1=5
hidden_nodes2=10
hidden_nodes3=15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 5)                 1700

 dense_5 (Dense)             (None, 10)                60

 dense_6 (Dense)             (None, 15)                165

 dense_7 (Dense)             (None, 1)                 16

=================================================================
Total params: 1,941
Trainable params: 1,941
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=50)

Epoch 1/50
684/684 [==============================] - 4s 3ms/step - loss: 0.1781 - accuracy: 0.9630 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 2/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0037 - accuracy: 0.9998 - val_loss: 9.1452e-04 - val_accuracy: 1.0000
Epoch 3/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0024 - accuracy: 0.9998 - val_loss: 4.3323e-04 - val_accuracy: 1.0000
Epoch 4/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0019 - accuracy: 0.9998 - val_loss: 4.2689e-04 - val_accuracy: 1.0000
Epoch 5/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0016 - accuracy: 0.9998 - val_loss: 2.6446e-04 - val_accuracy: 1.0000
Epoch 6/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0017 - accuracy: 0.9998 - val_loss: 3.3903e-04 - val_accuracy: 1.0000
Epoch 7/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0015 - accuracy: 0.9998 - val_loss: 2.0513e-04 - val_accuracy: 1.0000
Epoch 8/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0015 - accuracy: 0.9998 - val_loss: 2.0156e-04 - val_accuracy: 1.0000
Epoch 9/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 1.9346e-04 - val_accuracy: 1.0000
Epoch 10/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0016 - accuracy: 0.9998 - val_loss: 2.0614e-04 - val_accuracy: 1.0000
Epoch 11/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 2.2942e-04 - val_accuracy: 1.0000
Epoch 12/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0016 - accuracy: 0.9998 - val_loss: 2.6419e-04 - val_accuracy: 1.0000
Epoch 13/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 2.0632e-04 - val_accuracy: 1.0000
Epoch 14/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 2.0055e-04 - val_accuracy: 1.0000
Epoch 15/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 1.3429e-04 - val_accuracy: 1.0000
Epoch 16/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 2.5002e-04 - val_accuracy: 1.0000
Epoch 17/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 1.6703e-04 - val_accuracy: 1.0000
Epoch 18/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0015 - accuracy: 0.9998 - val_loss: 1.8361e-04 - val_accuracy: 1.0000
Epoch 19/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 2.2822e-04 - val_accuracy: 1.0000
Epoch 20/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 2.2744e-04 - val_accuracy: 1.0000
Epoch 21/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.8002e-04 - val_accuracy: 1.0000
Epoch 22/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 2.2360e-04 - val_accuracy: 1.0000
Epoch 23/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 3.6958e-04 - val_accuracy: 1.0000
Epoch 24/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 2.9510e-04 - val_accuracy: 1.0000
Epoch 25/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 2.3998e-04 - val_accuracy: 1.0000
Epoch 26/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 1.8892e-04 - val_accuracy: 1.0000
Epoch 27/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 2.8965e-04 - val_accuracy: 1.0000
Epoch 28/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 3.6401e-04 - val_accuracy: 1.0000
Epoch 29/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.9547e-04 - val_accuracy: 1.0000
Epoch 30/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.9409e-04 - val_accuracy: 1.0000
Epoch 31/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 3.0860e-04 - val_accuracy: 1.0000
Epoch 32/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 4.8390e-04 - val_accuracy: 1.0000
Epoch 33/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0010 - accuracy: 0.9998 - val_loss: 3.5365e-04 - val_accuracy: 1.0000
Epoch 34/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 4.4046e-04 - val_accuracy: 1.0000
Epoch 35/50
684/684 [==============================] - 2s 4ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 4.8090e-04 - val_accuracy: 1.0000
Epoch 36/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 3.1402e-04 - val_accuracy: 1.0000
Epoch 37/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 5.1956e-04 - val_accuracy: 1.0000
Epoch 38/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 4.0708e-04 - val_accuracy: 1.0000
Epoch 39/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.6780e-04 - val_accuracy: 1.0000
Epoch 40/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0010 - accuracy: 0.9998 - val_loss: 3.8037e-04 - val_accuracy: 1.0000
Epoch 41/50
684/684 [==============================] - 2s 3ms/step - loss: 9.9054e-04 - accuracy: 0.9998 - val_loss: 3.7368e-04 - val_accuracy: 1.0000
Epoch 42/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.6564e-04 - val_accuracy: 1.0000
Epoch 43/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 3.8956e-04 - val_accuracy: 1.0000
Epoch 44/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 4.2978e-04 - val_accuracy: 1.0000
Epoch 45/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 3.7593e-04 - val_accuracy: 1.0000
Epoch 46/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 3.5730e-04 - val_accuracy: 1.0000
Epoch 47/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 4.1162e-04 - val_accuracy: 1.0000
Epoch 48/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 2.6392e-04 - val_accuracy: 1.0000
Epoch 49/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.3943e-04 - val_accuracy: 1.0000
Epoch 50/50
684/684 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.5068e-04 - val_accuracy: 1.0000

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.9474e-04 - accuracy: 1.0000 - 518ms/epoch - 2ms/step
Loss: 0.00019474155851639807, Accuracy: 1.0

In [32]:
# Export our model to HDF5 file
nn.save('./AlphabetSoupCharity_Optimization2.h5')