In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:

# Drop the non-beneficial ID columns, 'CLASSIFICATION'.

application_df = application_df.drop(columns = ['CLASSIFICATION'])

In [ ]:

# Determining the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

EIN 34299
NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [ ]:
# Look at NAMES value counts for binning
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# list of names to be replaced
names_replace = list(name_count[name_count<10].index)

for app in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [ ]:
# Look at ORGANIZATION value counts for binning
organization_binning = application_df['ORGANIZATION'].value_counts()
organization_binning

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [ ]:
# Convert categorical data to numeric
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1=5
hidden_nodes2=10
hidden_nodes3=15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 1350

 dense_1 (Dense)             (None, 10)                60

 dense_2 (Dense)             (None, 15)                165

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 1,591
Trainable params: 1,591
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=50)

Epoch 1/50
684/684 [==============================] - 3s 2ms/step - loss: 0.5731 - accuracy: 0.7029 - val_loss: 0.4798 - val_accuracy: 0.7782
Epoch 2/50
684/684 [==============================] - 2s 2ms/step - loss: 0.4750 - accuracy: 0.7722 - val_loss: 0.4542 - val_accuracy: 0.7847
Epoch 3/50
684/684 [==============================] - 1s 2ms/step - loss: 0.4635 - accuracy: 0.7736 - val_loss: 0.4491 - val_accuracy: 0.7893
Epoch 4/50
684/684 [==============================] - 1s 2ms/step - loss: 0.4584 - accuracy: 0.7772 - val_loss: 0.4487 - val_accuracy: 0.7914
Epoch 5/50
684/684 [==============================] - 2s 2ms/step - loss: 0.4562 - accuracy: 0.7776 - val_loss: 0.4476 - val_accuracy: 0.7932
Epoch 6/50
684/684 [==============================] - 2s 2ms/step - loss: 0.4551 - accuracy: 0.7769 - val_loss: 0.4495 - val_accuracy: 0.7831
Epoch 7/50
684/684 [==============================] - 2s 2ms/step - loss: 0.4543 - accuracy: 0.7773 - val_loss: 0.4506 - val_accuracy: 0.7865
Epoch 8/50
684/684 [==============================] - 2s 2ms/step - loss: 0.4527 - accuracy: 0.7787 - val_loss: 0.4471 - val_accuracy: 0.7911
Epoch 9/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4513 - accuracy: 0.7799 - val_loss: 0.4488 - val_accuracy: 0.7932
Epoch 10/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4514 - accuracy: 0.7784 - val_loss: 0.4493 - val_accuracy: 0.7904
Epoch 11/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4508 - accuracy: 0.7812 - val_loss: 0.4469 - val_accuracy: 0.7927
Epoch 12/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4504 - accuracy: 0.7812 - val_loss: 0.4478 - val_accuracy: 0.7911
Epoch 13/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4500 - accuracy: 0.7804 - val_loss: 0.4483 - val_accuracy: 0.7942
Epoch 14/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4495 - accuracy: 0.7807 - val_loss: 0.4466 - val_accuracy: 0.7942
Epoch 15/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4490 - accuracy: 0.7807 - val_loss: 0.4477 - val_accuracy: 0.7930
Epoch 16/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4488 - accuracy: 0.7814 - val_loss: 0.4501 - val_accuracy: 0.7924
Epoch 17/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4488 - accuracy: 0.7814 - val_loss: 0.4496 - val_accuracy: 0.7922
Epoch 18/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4483 - accuracy: 0.7811 - val_loss: 0.4507 - val_accuracy: 0.7901
Epoch 19/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4484 - accuracy: 0.7819 - val_loss: 0.4507 - val_accuracy: 0.7953
Epoch 20/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4477 - accuracy: 0.7816 - val_loss: 0.4496 - val_accuracy: 0.7927
Epoch 21/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4474 - accuracy: 0.7820 - val_loss: 0.4506 - val_accuracy: 0.7914
Epoch 22/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4477 - accuracy: 0.7819 - val_loss: 0.4498 - val_accuracy: 0.7940
Epoch 23/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4468 - accuracy: 0.7822 - val_loss: 0.4494 - val_accuracy: 0.7919
Epoch 24/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4476 - accuracy: 0.7811 - val_loss: 0.4494 - val_accuracy: 0.7922
Epoch 25/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4471 - accuracy: 0.7803 - val_loss: 0.4490 - val_accuracy: 0.7945
Epoch 26/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4470 - accuracy: 0.7810 - val_loss: 0.4481 - val_accuracy: 0.7937
Epoch 27/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4467 - accuracy: 0.7830 - val_loss: 0.4483 - val_accuracy: 0.7927
Epoch 28/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4450 - accuracy: 0.7816 - val_loss: 0.4480 - val_accuracy: 0.7924
Epoch 29/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4441 - accuracy: 0.7851 - val_loss: 0.4471 - val_accuracy: 0.7942
Epoch 30/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4438 - accuracy: 0.7831 - val_loss: 0.4488 - val_accuracy: 0.7942
Epoch 31/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4442 - accuracy: 0.7827 - val_loss: 0.4485 - val_accuracy: 0.7930
Epoch 32/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4437 - accuracy: 0.7832 - val_loss: 0.4489 - val_accuracy: 0.7968
Epoch 33/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4439 - accuracy: 0.7840 - val_loss: 0.4465 - val_accuracy: 0.7966
Epoch 34/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4433 - accuracy: 0.7834 - val_loss: 0.4509 - val_accuracy: 0.7904
Epoch 35/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4431 - accuracy: 0.7827 - val_loss: 0.4493 - val_accuracy: 0.7955
Epoch 36/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4433 - accuracy: 0.7851 - val_loss: 0.4489 - val_accuracy: 0.7937
Epoch 37/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4426 - accuracy: 0.7829 - val_loss: 0.4495 - val_accuracy: 0.7888
Epoch 38/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4430 - accuracy: 0.7840 - val_loss: 0.4480 - val_accuracy: 0.7942
Epoch 39/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4425 - accuracy: 0.7851 - val_loss: 0.4478 - val_accuracy: 0.7898
Epoch 40/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4426 - accuracy: 0.7841 - val_loss: 0.4486 - val_accuracy: 0.7935
Epoch 41/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4425 - accuracy: 0.7848 - val_loss: 0.4483 - val_accuracy: 0.7914
Epoch 42/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4424 - accuracy: 0.7840 - val_loss: 0.4481 - val_accuracy: 0.7927
Epoch 43/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4428 - accuracy: 0.7831 - val_loss: 0.4485 - val_accuracy: 0.7911
Epoch 44/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4421 - accuracy: 0.7838 - val_loss: 0.4504 - val_accuracy: 0.7948
Epoch 45/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4423 - accuracy: 0.7841 - val_loss: 0.4503 - val_accuracy: 0.7940
Epoch 46/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4421 - accuracy: 0.7850 - val_loss: 0.4492 - val_accuracy: 0.7917
Epoch 47/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4416 - accuracy: 0.7850 - val_loss: 0.4482 - val_accuracy: 0.7976
Epoch 48/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4420 - accuracy: 0.7843 - val_loss: 0.4483 - val_accuracy: 0.7953
Epoch 49/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4418 - accuracy: 0.7855 - val_loss: 0.4494 - val_accuracy: 0.7922
Epoch 50/50
684/684 [==============================] - 2s 3ms/step - loss: 0.4418 - accuracy: 0.7844 - val_loss: 0.4523 - val_accuracy: 0.7906

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4694 - accuracy: 0.7761 - 439ms/epoch - 2ms/step
Loss: 0.46943598985671997, Accuracy: 0.7760933041572571

In [ ]:
# Export our model to HDF5 file
nn.save('./AlphabetSoupCharity_Optimization3.h5')